body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6, {
  margin-top: 0;
  margin-bottom: 0;
}


ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.header-container {
  display: flex;
}


.header-nav {
  display: flex;
  align-items: center;
}


.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-color {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 40px;

}

.header-menu:hover {
  color: #404bbf;
}

.header-menu:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-soc-list {
}

.header-contact {
  line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}


.hero-page {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

}

.hero-section {
  background: #2e2f42;
  width: 100%;
}

.hero-title {
  font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}
   

.hero-btn-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    margin: 0 auto;
}

.hero-btn-main:hover,
.hero-btn-main:focus,
.hero-btn-main:active {
  background-color: #404BBF;
  cursor: pointer;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;

}

.advantages-list {
  padding-right: 156px;
  padding-left: 156px;

}

.advantages-item {

}

.advantages-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-item-title {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {

}

.team-item {
  background-color: #FFFFFF;
}

.team-image {

}

.team-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-item-title {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #434455;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {

}

.portfolio-item {

}

.portfolio-image {

}

.portfolio-sudtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-title {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
  background: #2e2f42;
}

.accent {
  color: #f4f4fd;
}

.footer-title {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-sudtitle {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}