body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}


p,
h1,
h2,
h3,
h4,
h5,
h6, {
  margin-top: 0;
  margin-bottom: 0;
}


ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
    align-items: center;
  }


.header-nav {
  display: flex;
    align-items: center;
}


.header-logo {
    font-family: Raleway, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-right: 76px;
}

.header-logo-color {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-list {
color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}


.header-menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 40px;
  gap: 40px;
  
}

.header-menu:hover {
  color: #404bbf;
}

.header-menu:focus {
  color: #404bbf;
}

.header-address {
      font-style: normal;
        margin-left: auto;
}

.header-soc-list {
  display: flex;
    gap: 40px;
}

.header-contact {
  line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}


.hero-page {
  width: 100%;
  padding: 188px 0;
}

.hero-section {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
      background-color: #2e2f42;
        color: #fff;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 48px;
}
   

.hero-btn-main {
  color: #fff;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    white-space: nowrap;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
}

.hero-btn-main:hover,
.hero-btn-main:focus,
.hero-btn-main:active {
  background-color: #404BBF;
  cursor: pointer;
}

.advantages {
      padding: 120px 0;
}

.visually-hidden {
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  

.advantages-list {
      display: flex;
        gap: 24px;
        max-width: 1128px;
        width: 100%;
        flex-shrink: 0;
}

.advantages-item {
  width: calc((100% - 72px) / 4);

}

.advantages-subtitle {
  color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-item-title {
      color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
  color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-item {
      background-color: #ffffff;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        flex-basis: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
}

.team-image {
display: block;
}

.team-cards-text-container {
      padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-title {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #434455;
    text-align: center;
}

.portfolio {
padding: 120px 0;
}

.portfolio-title {
      color: #2e2f42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
      display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        row-gap: 48px;
}

.portfolio-item {
 width: calc((100% - 24px* 2) / 3);
}

.portfolio-image {

}

.portfolio-card-item-text {
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-sudtitle {
      color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-item-title {
      color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: 16px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.accent {
  color: #f4f4fd;
}

.footer-title {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-sudtitle {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
